/*
 * Estilos de tu proyecto
 */

body {
    height: 100%;
    width: 100%;
}

header {
    width: 100%;
    height: 450px;
    background-image: url(../assets/images/hero.gif);
    /* Center the image */
    background-position: left;
    /* Do not repeat the image */
    background-repeat: no-repeat;
    /* Resize the background image to cover the entire container */
    background-size: cover;
}

#logo {
    margin: 20px 60px;
    display: inline;
    float: left;
}

#logo img {
    padding: 0;
    width: 50px;
    margin-left: 0;
}

#menu {
    height: 20%;
}

#menu ul {
    margin: 0px;
    margin-right: 10%;
    list-style: none;
    text-align: right;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    padding: 25px 5px;
    text-align: right;
    display: inline-block;
    color: white;
    text-decoration: none;
}

#menu ul li a:hover {
    color: #FF00BF;
}

.btn-danger {
    background: #FF1493;
    box-shadow: 2px 2px 0 1px #c90097;
    border-bottom-color: #c90097;
}

.btn-danger:hover {
    background: #c90097;
}

.turn {
    height: 80%;
    width: 40%;
    background-color: white;
    float: right;
}

.turn h5 {
    padding-top: 8%;
    padding-bottom: 3%;
    padding-left: 10%;
    color: #352384;
    font-family: Montserrat;
    font-size: 30px;
}

.turn h4 {
    padding-bottom: 3%;
    padding-left: 10%;
    color: #352384;
    font-family: Montserrat;
    font-size: 14px;
}

.turn h6 {
    color: #728099;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 13%;
    font-size: 12px;
}

.turn h1 {
    padding-bottom: 3%;
    margin-top: 0;
    padding-top: -2%;
    padding-left: 10%;
    color: #352384;
    font-family: Montserrat;
    font-size: 10px;
}

.become {
    width: 150px;
    height: 35px;
    display: inline-block;
    margin-left: 10%;
    margin-right: 3%;
    padding: 0em, 5em 1em;
    text-decoration: none;
    background: #FF1493;
    color: #FFF;
    border: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0, 5);
    border-radius: 0.5em;
    box-shadow: 2px 2px 0 1px #c71585;
    transition: box-shadow 0.3s ease,
        transform 0.3s ease;

}

.become:active {
    box-shadow: 0 0 0 0 #c90097, inset 3px 3px 3px #c90097;
    transform: translate(3px, 3px);
}

#sing {
    color: #728099;
}

.turn p {
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 0;
    color: #728099;
    font-family: Montserrat;
    font-size: 14px;
}


/* Formating duble div, with iphone picture  */

.back {
    margin: 0;
    height: auto;
    width: auto;
    background: linear-gradient(#76278F, #2B1E66);
}

#iphone {
    height: 45%;
    width: 45%;
    padding-top: 50px;
    padding-right: 15%;
    float: right;

}

#aRide {
    margin: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: auto;
    margin-top: auto;
    padding-left: 10%;
    height: 40%;
    width: 40%;

}

#aRide h3 {
    color: white;


}

#aRide p {
    color: white;

}


/* Formating duble div, with video A New Way to Glow */

.firstWatch {
    margin: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
}

#watch {
    margin: 5%;
    height: auto;
    width: 20%;
    background-color: white;
    float: left;
    display: inline-block;

}

#videoAnew {
    margin: 0;
    height: 80%;
    width: 80%;
    float: right;
    display: contents;
}

.secondWatc {
    margin: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
}

#videoJune {
    margin: 0;
    height: 80%;
    width: 80%;
    float: left;
    display: contents;
}

#watchJune {
    margin-top: 5%;
    margin-right: 5%;
    height: auto;
    width: 20%;
    background-color: white;
    float: right;
    display: inline-block;
}


/* Formating duble div, with video Despacito */

.thirdWatch {
    margin: 0;
    height: 100%;
    width: 100%;
    display: inline-block;
}

#watchAgood {
    margin: 5%;
    height: auto;
    width: 20%;
    background-color: white;
    float: left;
    display: inline-block;

}

footer {
    background-color: #333447;
    color: white;
    width: 100%;
}

/* Formating style of Links of footer */

#col-sm {
    padding-top: 20%;
    list-style: none;
    color: white;
}

#col-sm li a {
    color: white;
    text-decoration: none;
}

#col-sm li #logIn:hover {
    color: white;
    text-decoration: underline;
}

#col-sm li #partner:hover {
    color: white;
    text-decoration: underline;
}

#col-sm li #learn:hover {
    color: white;
    text-decoration: underline;
}

#col-sm li a:hover {
    color: #FF00BF;
}

/* Formating bottuns inside a circlle */
.col {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #333447;
}

.btn-social {
    text-align: center;
    border-radius: 100%;
    display: inline-grid;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}

hr {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
